body {
    background-color:honeydew;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.head {
    justify-content: center;
    align-items: center;
    background-color:beige;
    border-style:ridge;
    border-width: 10px;
    border-color: black;
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
}

.head h1 {
    color: crimson;
    font-family: cursive;
}

.head h2 {
    font-family: 'Edu SA Beginner', cursive;
}

#box input {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transform: translateY(200px);
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35%;
}

#box button {
    justify-content: center;
    align-items: center;
    transform: translateY(200px);
    margin-left: 8%;
    font-size: large;
}

.Requirements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Requirements_Box {
    display: inline; /*originally was block*/
    justify-content: center;
    align-items: center;
    transform: translateY(250px);
    border-style: double;
    border-radius: 15%;
    border-width: 10px;
    padding: 20px;
    margin: auto;
    background-color:bisque;
}

.Requirements_Box h2 {
    font-family: monospace;
    font-style: oblique;
    color:black;
    text-decoration: underline;
}

.Requirements_Box h2 #specifications {
    color: rgb(217, 0, 255);
    text-shadow: 1px 1px black;
}

#properties {
    .property_labels {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    #length_textbox {
        display: inline;
        font-size: small;
        transform: translateY(0%);
        margin-left: 5px;
    }
    #save_button {
        display: inline;
        font-size: medium;
        transform: translateY(0%);
        margin-left: 5px;
    }

    #letters_label {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: left;
        margin-top: 10%;
    }

    #letters_checkbox {
        transform: translateY(0%);
        margin-inline-start: auto;
        vertical-align: middle;
    }

    #symbols_label {
        transform: translateY(20px);
        position: relative;
        left: 25%;
    }

    #symbols_checkbox {
        transform: translateY(0%);
        margin-inline-start: auto;
        vertical-align: middle;
        position: relative;
        left: 25%;
    }

    #numbers_label {
        position: absolute;
        bottom: 2px;
        left: 30%;
    }
    
    #numbers_checkbox {
        position: relative;
        left: 29%;
        transform: translateY(25px);
        vertical-align: middle;
    }
}